.header {
  width: 100%;
  padding: var(--gap-lg) 0;
  border-bottom: 1px solid var(--gray-200);
  background-color: transparent;
}

.headerIn {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--gap-2xl);
}

.leftCon {
  display: flex;
  align-items: center;
  gap: var(--margin-xl);
}

.rightCon {
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
  font-size: var(--fontsize-body);
  font-weight: var(--font-weight-semibold);
  color: rgba(2, 62, 153, 1);
}

.navigation {
  display: flex;
  gap: var(--gap-xl);
  align-items: center;
  margin-top: 10px;
}

.navigation li,
.navigation li a {
  font-size: var(--fontsize-body);
  line-height: var(--lineheight-body);
  font-weight: var(--font-weight-semibold);
  color: rgba(2, 62, 153, 1);
  transition: all 0.2s ease;
  text-decoration: none;
}

.navigation li a:hover {
  text-decoration: underline;
}

.profileCard {
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
}

.profileName {
  font-size: var(--fontsize-body);
  font-weight: var(--font-weight-bold);
  line-height: var(--lineheight-body);
  color: var(--gray-900);
}
