.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top :calc(var(--margin-xl) * 2);
  gap: calc(var(--margin-xl) * 2);
}

.timerDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--margin-2xl);
}

.timeSegment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeSegment {
  background:url("../../../asset/images/time_card.svg") no-repeat center center;
  background-size: 100% 100%;
  width: 264px;
  height: 298px;
}

.timeValue,
.colon {
  font-size: calc(var(--fontsize-title) * 7.7);
  font-weight: var(--font-weight-bold);
  color: var(--primary-core);
}

.timeValue {
  font-family: "DigitalNumbers", monospace;
  line-height: 1.5;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--margin-xl) * 2);
}

@media all and (max-width:1200px) {
  .timerDisplay {
    gap: var(--gap-xl);
  }
}