.labelArea {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

/* input base */
.input {
  width: 100%;
  height: 45px;
  border: 1px solid #eee;
  border-radius: 8px;
  box-sizing: border-box;
  outline: 0;
  text-indent: 10px;
  cursor: auto;
  font-size: inherit;
}

/* placeholder */
.input::placeholder {
  color: gray;
  font-size: calc(var(--fontsize-small) * 1.2);
}

/* error message */
.error {
  font-size: var(--fontsize-small);
  color: #ff0b00d1;
  padding-left: 5px;
}
