.labelArea {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  width: 100%;
}

/* input base */
.input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  box-sizing: border-box;
  outline: 0;
  text-indent: 10px;
  cursor: auto;
  font-size: inherit;
}

/* placeholder */
.input::placeholder {
  color: var(--gray-500);
  font-size: var(--fontsize-body-small);
}
