/* fullscreen overlay */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* dim layer */
.darkLayer {
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

/* popup wrapper */
.whiteBoxWrapper {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* popup box */
.whiteBox {
  box-sizing: border-box;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 4px 8px 8px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  position: relative;
  z-index: 900;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* text */
.message {
  width: 100%;
  font-size: 1.125rem;
  margin: 0 0 1.5rem 0;
  color: #3d3d3e;
  font-weight: bold;
}
