.baseButton {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-sizing: border-box;
  font-weight: var(--font-weight-semibold);
  transition: all 0.2s ease;
  cursor: pointer;
}

/* padding 제거 옵션 */
.paddingNone {
  padding: 0 !important;
}

/* ===== Theme ===== */

.primary {
  background: var(--primary-core);
  color: var(--gray-white);
  border: none;
}

.primary:hover:not(:disabled) {
  background: var(--primary-vivid);
}

.secondary {
  background: var(--primary-10);
  color: var(--primary-core);
  border: none;
  transition: all 0.2s ease;
}

.secondary:hover:not(:disabled) {
  background: var(--primary-30);
}

.tertiary {
  background: var(--gray-white);
  color: var(--primary-core);
  border: 2px solid var(--primary-core);
  transition: all 0.2s ease;
}

.tertiary:hover:not(:disabled) {
  background: var(--primary-10);
}

.overlap {
  background: rgba(229, 231, 235, 1);
  color: rgba(150, 157, 168, 1);
}

.overlap:hover:not(:disabled) {
  background: var(--primary-core);
  color: var(--gray-white);
}

.disable {
  background: var(--gray-400);
  color: var(--gray-white);
  border: none;
  cursor: not-allowed;
  opacity: 0.6;
}

.none {
  background: transparent;
  color: var(--gray-700);
  border: none;
}

/* ===== Size ===== */

.sm {
  font-size: var(--fontsize-body-small);
  padding: 0.571em 1.143em; /* 8px 16px */
  margin-top: 26px;
}

.rg {
  font-size: var(--fontsize-body);
  padding: 0.625em 1.25em; /* 10px 20px */
}

.md {
  font-size: var(--fontsize-subtitle);
  padding: 0.666em 1.333em; /* 12px 24px */
}

.lg {
  font-size: var(--fontsize-title);
  padding: 0.7em 1.4em; /* 14px 28px */
}
