* {
  margin: 0;
  padding: 0;
  font-family: "Spoqa-Hans";
  word-break: keep-all;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  float: left;
}

a {
  color: #000;
  text-decoration: none;
}

header,
section,
footer {
  width: 100%;
}

button {
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer !important;
  box-sizing: border-box;
  outline-color: transparent;
}

input[type="checkbox"] {
  display: none;
}

input,
button {
  all: unset;
}

body {
  background: rgba(249, 249, 249, 0.7803921569);
}

.flex-Set {
  display: flex;
  justify-content: center;
  align-items: center;
}
