.notfoundRoot {
  position: relative;
  width: 100%;
  height: 90vh;
  top: -32px;
  background-color: #fafbfd;
}

.notfoundWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 520px;
  width: 100%;
  text-align: center;
}

/* Background blocks */
.notfoundBg > div {
  width: 100%;
  background: #fff;
  border-radius: 90px;
  height: 125px;
}

.notfoundBg > div:nth-child(1) {
  box-shadow: 5px 5px 0px 0px #f3f3f3;
}

.notfoundBg > div:nth-child(2) {
  transform: scale(1.3);
  box-shadow: 5px 5px 0px 0px #f3f3f3;
  position: relative;
  z-index: 10;
}

.notfoundBg > div:nth-child(3) {
  box-shadow: 5px 5px 0px 0px #f3f3f3;
  position: relative;
  z-index: 90;
}

/* Typography */
.title {
  font-family: "Quicksand", sans-serif;
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 24px 0;
  color: #151515;
}

.subtitle {
  font-family: "Quicksand", sans-serif;
  font-size: 26px;
  margin: 0;
  font-weight: 700;
  color: #151515;
}

/* Social (unused 유지) */
.social {
  margin-top: 20px;
}

.social > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 14px;
  color: #fff;
  background-color: #dedede;
  margin: 3px;
  transition: 0.2s all;
}

.social > a:hover {
  background-color: #18e06f;
}

/* Responsive */
@media only screen and (max-width: 767px) {
  .notfoundBg {
    width: 287px;
    margin: auto;
  }

  .notfoundBg > div {
    height: 85px;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 68px;
  }

  .subtitle {
    font-size: 18px;
  }
}
