* {
  margin: 0;
  padding: 0;
  font-family: "Spoqa-Hans";
  word-break: keep-all;
  font-family: var(--font-pretendard);
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

header,
section,
footer {
  width: 100%;
}

button {
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer !important;
  box-sizing: border-box;
  outline-color: transparent;
}

input[type="checkbox"] {
  display: none;
}

input,
button {
  all: unset;
}

.flex-Set {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

.text-Blind {
  font-size: 0;
}
