.labelArea {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  width: 100%;
}

/* textarea base */
.textarea {
  width: 100%;
  min-height: 45px;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  box-sizing: border-box;
  outline: 0;
  padding: var(--gap-lg);
  cursor: auto;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.5;
}

/* placeholder */
.textarea::placeholder {
  color: var(--gray-500);
  font-size: var(--fontsize-body-small);
}
