.goalForm {
  width: 100%;
  height: 100%;
}

.todoSection {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  height: 100%;
}

.sectionTitle {
  font-size: var(--fontsize-body);
  font-weight: var(--font-weight-semibold);
  color: var(--gray-700);
  margin: 0 0 var(--gap-md) 0;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.todoInput {
  display: flex;
  gap: var(--gap-xl);
  margin-bottom: 36px;
}

.todoInput :global(input) {
  flex: 1;
}

.todoList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}


.footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 0 var(--gap-lg);
}
