@font-face {
    font-family: "DigitalNumbers";
    src: url("/fonts/DigitalNumbers-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  .mainPageWrap {
    padding-top : calc(var(--gap-3xl) * 3);
  }

