@font-face {
    font-family: "DigitalNumbers";
    src: url("/fonts/DigitalNumbers-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  .mainPageWrap {
    padding-top : calc(var(--gap-3xl) * 3);
  }

  .motivationalText {
    font-size: calc(var(--fontsize-heading) * 3);
    font-weight: var(--font-weight-bold);
    color: var(--primary-30);
    line-height: var(--lineheight-heading);
    margin: 0;
    text-align: center;
  }